.web3-modal-wrapper {
    :global {
        .ant-modal-content {
            display: flex;
            max-width: 536px;
            padding-bottom: 16px;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 20px;
            border: 1px solid var(--Conditional-divider, #1d1d1d);
            background: #0F101E;

            .ant-modal-close {
                color: #fff;
            }

            .ant-modal-header {
                display: flex;
                padding: 16px;
                justify-content: space-between;
                align-items: center;
                align-self: stretch;
                border: none !important;
                background: #0F101E;
                padding: 16px !important;

                .ant-modal-title {
                    color: #fff !important;

                    /* 150% */
                }
            }
        }

        .ant-modal-body {
            padding: 0px !important;
            width: 100%;

            .web3-modal-container {
                .ant-tabs {
                    .ant-tabs-nav {
                        &::before {
                            border-bottom: 1px solid #303030;
                        }

                        .ant-tabs-nav-wrap {
                            width: 100%;

                            .ant-tabs-nav-list {
                                width: 100%;

                                .ant-tabs-tab {
                                    color: rgba(255, 255, 255, 0.65);
                                    width: 50%;

                                    &.ant-tabs-tab-active {
                                        .ant-tabs-tab-btn {
                                            color: #1890ff;
                                        }
                                    }

                                    .ant-tabs-tab-btn {
                                        color: rgba(255, 255, 255, 0.65);
                                        text-align: center;
                                        font-family: Inter;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .ant-tabs-ink-bar {
                        background: #1890ff;
                    }
                }

                .tab-content-container {
                    .wallet-item {
                        display: flex;
                        align-items: center;
                        padding: 16px 24px;
                        border-bottom: 1px solid #303030;
                        cursor: pointer;

                        &:hover {
                            opacity: 0.8;
                        }

                        &:last-child {
                            border-bottom: none;
                        }

                        .content-left {
                            display: flex;
                            align-items: center;

                            .wallet-icon {
                                margin-right: 12px;

                                >img {
                                    width: 40px;
                                    height: 40px;
                                }
                            }

                            .wallet-name {
                                color: rgba(255, 255, 255, 0.85);
                                font-family: Inter;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 24px;

                                .detected-badge {
                                    display: inline-block;
                                    padding: 1px 6px;
                                    font-family: Roboto;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                    border-radius: 2px;
                                    border: 1px solid #434343;
                                    margin-left: 12px;
                                }
                            }
                        }

                        .content-right {
                            margin-left: auto;
                        }
                    }
                }

                .term {
                    color: #8c8c8c;
                    padding: 16px 24px;
                    font-family: Inter;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px;

                    a {
                        color: #8c8c8c;
                        text-decoration: underline;
                        margin: 0px 4px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}